/* Global */
body {
  text-decoration: none;
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #434455;
  letter-spacing: 2%;
  line-height: 1.5;
}

/* Menu */
.menu {
  background-color: #FFFFFF;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.logo-menu {
  color: #2E2F42;
}

.logo span {
  color: #4D5AE5;
}

.navigation ul {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 2%;
}

.contact-data a {
  text-decoration: none;
  color: #434455;
  font-size: 12px;
  line-height: 1.3%;
  letter-spacing: 4%;
}

.link a:hover,
.link a:focus {
  text-decoration: underline;
  color: #4D5AE5;
}

/* Header */
.main-header {
  color: #FFFFFF;
  background-color: #2E2F42;
  text-align: center;
}

.main-header h1 {
    font-size: 56px;
    text-align: center;
    letter-spacing: 2%;
    line-height: 1.1;
}

.main-header button {
  color: #FFFFFF;
  background-color: #4D5AE5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4%;
}

.main-header button:hover,
.main-header button:focus {
  background-color: #404BBF;
}

/* Section Features*/
.features {
  text-align: left;
}

.features ul {
  list-style: none;
}

.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: left;
  color: #2E2F42;
}

/* Section 'what are we doing'*/
.we-do {
  background-color: #FFFFFF;
}
.we-do ul {
  list-style: none;
}

.headlines h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 2%;
  line-height: 1.1;
  text-align: center;
  color: #2E2F42;
}

/* our team*/
.team {
  background-color: #F4F4FD;
}

team h2 {
  line-height: 1.1;
}

.team ul {
  list-style: none;
}

.team-card {
  background-color: #FFFFFF;
  text-align: center;
}

.team-card h3 {
  line-height: 1.2;
}

/* Footer */
.footer {
  color: #F4F4FD;
  background-color: #2E2F42;
}

.logo-footer {
  color: #F4F4FD;
}

/* portfolio */

.portfolio-mid {
  background-color: #FFFFFF;
}
.filters ul {
  list-style: none;
}

.filters button {
  color: #4D5AE5;
  background-color: #E7E9FC;
  border: none;
  font-weight: 500;
  letter-spacing: 4%;
  cursor: pointer;
}

.filters button:hover {
  color: #FFFFFF;
  background-color: #4D5AE5;
}

.portfolio-cards li {
  list-style: none;
  text-align: left;
}

.portfolio-cards h3 {
  line-height: 1.2;
}
