/* Global */
body {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  letter-spacing: 2%;
  line-height: 1.5;
  background-color: #FFFFFF;
}

:root {
  --primary-color: #4D5AE5;
  --dark-color: #2e2f42;
  --pressed-state: #404BBF;
  --body-text: #434455;
}

/* Menu */

.navigation .logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo.link {
  text-decoration: none;
}

.logo .span {
  color: var(--dark-color);
}

.navigation .link {
  text-decoration: none;
}

list.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.navigation .list {
  list-style: none;
}

.navigation .list li a {
  text-decoration: none;
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 2%;
}

.contact-data {
  font-style: normal;
}

.contact-data a {
  text-decoration: none;
  color: #434455;
  font-size: 12px;
  line-height: 1.3%;
  letter-spacing: 4%;
}

.link a:hover,
.link a:focus {
  text-decoration: underline;
  color: var(--pressed-state);
}

.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  text-decoration: none;
}

.tel {
  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    text-decoration: none;
}

/* Hero section */
.hero {
  background-color: var(--dark-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 2%;
  line-height: 1.1;

}

.hero .hero-button {
  color: #FFFFFF;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

/* Section Features*/
.features {
  text-align: left;
}

.features ul {
  list-style: none;
}

.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: left;
  color: #2E2F42;
}

/* Section 'what are we doing'*/
.we-do ul {
  list-style: none;
}

.headlines h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 2%;
  line-height: 1.1;
  text-align: center;
  color: #2E2F42;
}

/* our team*/
.team {
  background-color: #F4F4FD;
}

team h2 {
  line-height: 1.1;
}

.team ul {
  list-style: none;
}

.team-card {
  text-align: center;
}

.team-card h3 {
  line-height: 1.2;
}

/* Footer */
.footer {
  color: #F4F4FD;
  background-color: #2E2F42;
  letter-spacing: 0.02em;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.footer .logo span {
  color: #F4F4FD;
}

/* portfolio */

.filters ul {
  list-style: none;
}

.filters button {
  color: var(--primary-color);
  background-color: #E7E9FC;
  border: none;
  font-weight: 500;
  letter-spacing: 4%;
  cursor: pointer;
}

.filters button:hover {
  color: #FFFFFF;
  background-color: var(--primary-color);
}

.portfolio-cards li {
  list-style: none;
  text-align: left;
}

.portfolio-cards h3 {
  line-height: 1.2;
}
