/* Global */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
  background-color: #FFFFFF;
}

:root {
  --primary-color: #4D5AE5;
  --dark-color: #2e2f42;
  --pressed-state: #404BBF;
  --body-text: #434455;
  --light: #F4F4FD;
}

/* Menu */

.navigation .logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo.link {
  text-decoration: none;
}

.span {
  color: var(--dark-color);
}

.nav-link {
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.link {
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  color: var(--pressed-state);
}

.navigation .list {
  list-style: none;
}

.list {
  list-style: none;
}

.contact-data {
  font-style: normal;
}

.contact.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  text-decoration: none;
}

.contact.link:hover,
.contact.link:focus {
  text-decoration: underline;
  color: var(--pressed-state);
}

/* Hero section */
.hero {
  background-color: var(--dark-color);
  color: #FFFFFF;
}

.hero-headline {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 56px;
}

.hero .hero-button {
  color: #FFFFFF;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

/* Section Features*/
.features .list {
  list-style: none;
}

.features-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--dark-color);
}
.features-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/* Section 'what are we doing'*/
.we-do .list{
  list-style: none;
}

.doing-headline {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

/* our team*/
.team {
  background-color: #F4F4FD;
}

.team-headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-card.list {
  list-style: none;
}

.team-element {
  background-color: #FFFFFF;
}

.card-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.card-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/* Footer */
.footer {
  color: #F4F4FD;
  background-color: #2E2F42;
  letter-spacing: 0.02em;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.footer .logo span {
  color: #F4F4FD;
}

.footer-paragraph {
  color: #F4F4FD;
}

/* portfolio */

.filters.list {
  list-style: none;
}

.filters-btn {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--light);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  letter-spacing: 4%;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}

.portfolio-cards.list {
  list-style: none;
}

.portfolio-cards li {
  text-align: left;
}

.portfolio-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
